body {
    text-align: center;
}

.hr {
    position: absolute;
    font-size: 20px;
    left: 300px;
}

.min {
    position: absolute;
    font-size: 20px;
    left: 650px;
    text-align: center;
}

.sec {
    position: absolute;
    font-size: 20px;
    left: 900px;
}

.clock {
    position: absolute;
}

.time {
    margin-top: 300px;
    text-align: center;
}